﻿@{
    ViewBag.Title = "Simple Chat Application";
}

<div ng-controller="chatCtr" class="container-fluid wrapper no-padding">
    <div class="chat-header">
        <div class="col-md-2 col-xs-6 col-sm-2"> <p>{{appName}}</p></div>
        <div class="col-md-2 col-xs-6 col-sm-2 pull-right"> <p>{{username}}</p></div>
    </div>
    <div class="login-container col-md-12 col-sm-12 col-xs-12" ng-show="loginSwitch" >
        <div class="login col-md-5 col-sm-6 col-xs-11">
            <div class="unit">
                <p>Choose a nikname and connect<p>
            </div>
            <form name="loginForm">


            <div class="unit">
                <input type="text" ng-model="username" name="username" placeholder="Enter a nickname to start" required>
                <span style="margin-bottom:10px" ng-show="loginForm.username.$touched && loginForm.username.$invalid">Please enter a nickname.</span></div>
            <div class="unit">
                <input type="button" ng-disabled="loginForm.username.$invalid" ng-click="openConnection()" name="connect" class="connect" value="Connect">
            </div>
            </form>
        </div>
    </div>



    <div class="chat-container" ng-show="chatSwitch">
        <div class="chat-aside col-md-2 col-sm-2 col-xs-5 pull-left no-padding">

            <div class="aside-title"><p>Users Online {{onlineUsers}}</p></div>
            <ul class="all-users">
                <li ng-repeat="user in usersList">
                    <span>{{user.Value.Name}}</span>
                </li>
            </ul>

        </div>

        <div class="chat-main col-md-10 col-sm-10 col-xs-7 pull-left no-padding">
            <div class="notifications"><span class="welcome-message">{{welcomeMessage}}</span></div>
            <div class="messages-box" scroll-glue force-glue>
                <ul class="messageList">
                    <li ng-repeat="msg in messages track by $index">
                      {{msg.message}} <span ng-bind-html="msg.time"></span>
                    </li>
                </ul>
            </div>

            <div class="chat-box col-md-12 col-sm-12 col-xs-12 no-margin">
                <span class="username cold-md-3 hidden-xs pull-left">{{username}}</span>
                <input ng-keyup="$event.keyCode == 13 ? sendMessage() : null" type="text" ng-model="message" id="message" class="message input-lg col-md-10 col-xs-12 col-sm-10" placeholder="Type your message here">
            </div>
        </div>
    </div>
    </div>

        @section scripts {
            <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
            <script src="~/signalr/hubs"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-sanitize.js"></script>
            <script src="~/Scripts/scrollGlue.js"></script>
            <script src="~/Scripts/custom-js.js"></script>

        }




