﻿* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #666666;
}

/* page wrapper */

.wrapper {
    border: none;
    border-radius: 0px;
    background: #888;
    padding-top: 30px;
    height: 700px;
    position: relative;
}


/* media queries */

@media (min-height:800px) {
    .wrapper {
        height: 800px;
    }
}

@media (min-height:900px) {
    .wrapper {
        height: 900px;
    }
}

@media (min-height:1366px) {
    .wrapper {
        height: 1366px;
    }
}

@media (max-width:767px) {
    .login {
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 960px) and (min-width: 768px) {
    .login {
        margin-left: 24% !important;
    }
}


/* new section */


/* ===================== */

.chat-container {
    background: #666666;
    height: 93%;
}

.login-container {
    background: #444;
    height: 93%;
}

    .login-container .login {
        position: absolute;
        margin-top: 10%;
        margin-left: 30%;
        padding: 30px 70px 30px 70px;
        background: #666666;
        border: solid 1px transparent;
        border-radius: 5px;
    }

        .login-container .login input {
            height: 60px;
            width: 100%;
            border: solid 1px transparent;
            border-radius: 4px;
            text-indent: 25px;
            margin-bottom: 5%;
            font-size: 20px;
        }

            .login-container .login input:focus {
                outline: none;
            }

.unit p {
    color: #eee;
    padding: 10px 0px 0px 20px;
    font-size: 17px;
}

.connect {
    text-indent: 0px !important;
    font-size: 18px !important;
    background: #f99914;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

    .connect:hover {
        background-color: #ffa500;
    }


/* ===================== */


/* chat app header */

.chat-header {
    height: 7%;
    padding: 15px 60px 15px 60px;
    background: #666666;
    font-size: 16px;
    color: #fff;
}

.welcome-message {
    color: #ffa500;
    font-size: 17px;
    margin: 0px 0px 20px 20px;
}


/* main messages div and user list area */

.chat-main,
.chat-aside {
    position: relative;
    border: 0px;
}

.chat-main {
    background: #444;
    height: 100%;
}

.chat-aside {
    background: #333;
    height: 100%;
    overflow-y: scroll;
}

    .chat-aside .aside-title {
        border-bottom: solid 1px #444;
        padding: 20px 20px 15px 20px;
        color: #ffa500;
    }

        .chat-aside .aside-title p {
            font-size: 16px;
            text-align:center;
        }


/* all messages container */

.chat-main .messages-box {
    height: 81%;
    padding: 30px 100px 30px 100px;
    overflow-y: scroll;
}

.notifications{
    height: 4%;
    padding: 10px;
    background-color: transparent;
}
/* input message container */
.chat-main .chat-box {
    padding: 20px;
    background: #888;
    position: absolute;
    height: 15%;
}


/* message input */

.chat-box .message {
    background-color: #eee;
    border: solid 1px transparent;
    border-radius: 3px;
    height: 100%;
    text-indent: 20px;
    font-size: 16px;
    color: #323232;
}

.message:focus {
    outline: none;
}

.chat-box .username {
    height: 100%;
    padding: 20px 15px;
    overflow: hidden;
}

.username::after {
    content: ":";
}

ul{
    list-style:none;
}

/* each indivial message */

.messageList li {
    background-color: #363636;
    padding: 15px;
    margin-bottom: 10px;
    border: solid 1px transparent;
    border-radius: 7px;
    color: #eee;
}


/* users list */


.all-users li {
    color: #ffa500;
    padding: 10px;
    padding-left:20px;
    border-bottom: solid 1px #444;
    text-align:left;
    text-decoration:none;
}

    .all-users li:hover {
        background: #444;
    }


    /* edit placeholder color and fontsize for every browser */
    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #323232;
        font-size: 16px;
    }

::-moz-placeholder {
    /* Firefox 19+ */
    color: #323232;
    font-size: 16px;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #323232;
    font-size: 16px;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #323232;
    font-size: 16px;
}


/* reuseable classes */

.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}


/* footer */

.footer {
    height: 50px;
    background: #f8f9fc;
}


/* new section */
